body {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
button {
  margin: 0;
  padding: 0;
}
.header {
  margin: 0 108px;
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
  font-size: 24px;
}
.links {
  display: flex;
  gap: 16px;
  align-items: center;
}
a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}
.section-1-button {
  background-color: #3882f6;
  color: white;
  padding: 16px 32px;
  border-radius: 16px;
}
.section-1 {
  color: white;
  margin: 32px 108px;
  display: flex;
  justify-content: space-between;
}
.section-1-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 48px;
  color: black;
}
.section-2 {
  padding: 64px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.random-info {
  display: flex;
  margin-bottom: 72px;
}
.section-2-imgs {
  display: flex;
}
.random-info-img {
  display: flex;
  width: 50%;
  padding-bottom: 50%;
  border-color: #3882f6;
  border-style: solid;
  border-width: 4px;
  border-radius: 12.5%;
}
.section-2-ps {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-2-p-p {
  width: 50%;
}
.section-3 {
  background-color: #e5e7eb;
  display: flex;
  padding: 3em;
}
.quote {
  display: flex;

  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
}
.thor {
  display: flex;
  font-weight: bold;
}
.section-4 {
  background-color: white;
  padding: 0;
  margin: 0;
}
.section-4-container {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  margin: 2em 48px;
  padding: 2em;
  border-radius: 1em;
  color: white;
}
.section-4-button {
  background-color: #3882f6;
  border-radius: 1em;
  padding: 0 2em 0 2em;
  color: white;
  border-color: white;
  border-style: solid;
}
.footer {
  text-align: center;
  color: #e5e7eb;
}
